.activeProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aqua;
  font-size: 4vw;
  font-weight: bold;
  border-radius: 20px;
  margin-bottom: 20px;
  max-width: fit-content;
}

.buttonPlace {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
}

.buttonPlace > button {
  height: 80px;
  width: 240px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 15px;
  font-size: 2vw;
}

.workMonitor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textPlace {
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  font-size: 2vw;
  background-color: lightgray;
}

.color_text_c {
  background-color: lightgreen;
}

.color_text_u {
  background-color: lightcoral;
}

.bigName {
  padding: 10px;
  text-align: center;
}

.nextButtonClient > button {
  width: 440px;
  height: 150px;
  font-size: 4vw;
}
